<mat-tab-group >
	<mat-tab label="One-Press Song Creator">
		<mat-card >
			<mat-list>
        <div mat-header>1.0.2</div>
				<mat-list-item>
					<div mat-line>Added 3 user kits including Bosendorfer Jazz Trio 60+C1</div>
				</mat-list-item>
        <div mat-header>1.0.1</div>
				<mat-list-item>
					<div mat-line>Added Premium kits</div>
				</mat-list-item>
        
				<div mat-header>1.0.0</div>
				<mat-list-item>
					<div mat-line>Initial release</div>
				</mat-list-item>
				<mat-list-item>
					<div mat-line>Included Default V2 kits in kit selector</div>
				</mat-list-item>
        <mat-list-item>
					<div mat-line>Included 4 user kits in kit selector</div>
				</mat-list-item>
			</mat-list>
		</mat-card>
	</mat-tab>
</mat-tab-group>

<!-- mat-divider></mat-divider -->